<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Details</h1>
    <form method = 'post'>
        {% csrf_token %}
        <label for="name">Name</label>
         <input type="text" name="name" id="name" value = '{{stu_data.name}}'>
         <br>
        <label for="age">Age</label>
         <input type="text" name="age" id="age" value = '{{stu_data.age}}'>
         <br>
        <label for="email">Name</label>
         <input type="text" name="email" id="email" value = '{{stu_data.email}}'>
         <br>
        <button type="submit">Submit</button>

    </form>
    <br>
    <br>
    <a href="{% url "stu_details" stu_data.id%}"><button>Cencle</button></a>
</body>
</html>